body {
}
.background-one{
    position:absolute;
    left:0px;
    top:0px;
    z-index:-1;
}
.background-two{
    position:absolute;
    right:0;
    top:0px;
    z-index:-1;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
