.profile .profile-information ,.head{
    background-color: white;
}
.profile .information .div{
    align-items: center;
    justify-content: space-between;
}

.profile .head .button{
    margin-left: auto;
}
.avatar{
    border-radius: 50%;
}
.profile .profile-information{
    border: 1px solid #C4C4C4;
    border-radius: 20px;
}
.profile .profile-information .information .description{
    width: 550px;
    margin-left: 50px;
    padding: 50px;
}
.order-id{
    text-decoration: none;
    color: black;
}
